---

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Doctor Victor Morales - Consultorio Medico - La Paz - Bolivia</title>
    <meta
      name="description"
      content="Visita el consultorio medico del Doctor Victor Morales en la Paz - Bolivia. Conoce el horario de atencion, la ubicacion y los servicios."
    />
  </head>
  <body class="max-w-3xl mx-auto">
    <header class="text-right pb-32 pt-5 px-5 bg-cafe">
      <svg
        class="w-7 h-7 mb-28"
        viewBox="0 0 512 512"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="512" height="512" rx="100" fill="white"></rect>
        <path
          d="M469.342 258.237C469.342 300.432 456.83 341.679 433.388 376.763C409.945 411.847 376.626 439.192 337.643 455.339C298.659 471.487 255.763 475.711 214.379 467.48C172.995 459.248 134.981 438.929 105.144 409.092C75.3078 379.256 54.9889 341.242 46.757 299.858C38.5251 258.473 42.75 215.577 58.8974 176.594C75.0448 137.611 102.389 104.291 137.473 80.849C172.557 57.4066 213.805 44.8943 256 44.8943C284.017 44.8943 311.759 50.4125 337.643 61.134C363.526 71.8555 387.045 87.5701 406.856 107.381C426.666 127.191 442.381 150.71 453.103 176.594C463.824 202.478 469.342 230.22 469.342 258.237ZM370.526 153.357C370.519 151.094 369.617 148.925 368.016 147.325C366.416 145.725 364.247 144.822 361.984 144.815H150.717C148.458 144.829 146.296 145.735 144.702 147.334C143.107 148.934 142.208 151.099 142.201 153.357V303.266C142.201 366.322 256.35 401.839 256.35 401.839C256.35 401.839 370.526 366.322 370.526 303.266V153.357ZM325.928 244.278V272.896C325.921 275.35 324.941 277.701 323.204 279.433C321.466 281.166 319.112 282.139 316.659 282.139H279.929V318.895C279.929 321.349 278.956 323.703 277.224 325.44C275.491 327.178 273.14 328.158 270.686 328.165H242.095C239.637 328.165 237.279 327.188 235.54 325.45C233.802 323.711 232.825 321.354 232.825 318.895V282.139H196.069C193.62 282.132 191.273 281.156 189.541 279.424C187.809 277.692 186.833 275.345 186.826 272.896V244.278C186.833 241.829 187.809 239.482 189.541 237.75C191.273 236.018 193.62 235.042 196.069 235.035H232.825V198.279C232.832 195.825 233.812 193.474 235.55 191.741C237.288 190.009 239.641 189.036 242.095 189.036H270.686C273.136 189.043 275.482 190.019 277.214 191.751C278.946 193.483 279.922 195.83 279.929 198.279V235.035H316.685C319.139 235.035 321.493 236.008 323.231 237.74C324.968 239.473 325.921 241.824 325.928 244.278Z"
          fill="url(#paint0_linear_4_2)"></path>
        <defs>
          <linearGradient
            id="paint0_linear_4_2"
            x1="42.6576"
            y1="258.237"
            x2="469.342"
            y2="258.237"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#231A1B"></stop>
            <stop offset="1" stop-color="#CEA28F"></stop>
          </linearGradient>
        </defs>
      </svg>
      <span class="text-white fade">Bienvenido al</span>
      <p
        class="text-white text-3xl sm:text-5xl mt-4 font-bold text-right animated animatedFadeInUp fadeInUp"
      >
        Consultorio Medico del Doctor Victor Morales
      </p>
      <h1 class="text-zinc-300 mb-5 animated animatedFadeInUp fadeInUp">
        Consultorio Medico en La Paz Bolivia
      </h1>
      <a
        href="tel:77551023"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="fade text-crema border-2 border-crema rounded-3xl py-2 px-5 text-lg font-bold"
        >Reservar una Cita</a
      >
    </header>
    <section>
      <h2 class="text-cafe">
        Ubicacion del Consultorio Medico del Doctor Victor Morales
      </h2>

      <p class="py-2">
        Puedes encontrar el consultorio en la <strong
          >Calle Evaristo Valle</strong
        >.
      </p>
      <p class="py-2">
        Ingresando a la <strong>Galeria Heriba</strong>, en el Segundo Nivel, en
        la <strong>Oficina #150</strong>.
      </p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d956.4106687349841!2d-68.13817512060592!3d-16.493621322093688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f211d6facee9f%3A0xe5d958f4b11c9679!2sConsultorio%20M%C3%A9dico%20Victor%20Morales!5e0!3m2!1ses-419!2sbo!4v1714677745318!5m2!1ses-419!2sbo"
        class="w-full h-96 my-5"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <section class="bg-cafe">
      <h2 class="text-crema">
        Horarios del Consultorio Medico del Doctor Victor Morales
      </h2>
      <ul>
        <li>
          <strong>Lunes a Viernes</strong>
          <ul>
            <li>10:30 a.m. – 12:30 p.m.</li>
            <li>3:00 p.m. – 7:00 p.m.</li>
          </ul>
        </li>
        <li>
          <strong>Sabado</strong>
          <ul>
            <li>10:30 a.m. – 2:00 p.m.</li>
          </ul>
        </li>
      </ul>
    </section>
    <section>
      <h2>Servicios del Consultorio Medico del Doctor Victor Morales</h2>

      <div>
        <article>
          <h3>Diagnóstico y tratamiento de enfermedades</h3>
          <p>
            En nuestro consultorio médico, ofrecemos servicios completos de
            diagnóstico y tratamiento para una amplia variedad de enfermedades.
            Estamos comprometidos a proporcionar el mejor cuidado médico
            individualizado para cada paciente.
          </p>
        </article>

        <article>
          <h3>Evaluación médica</h3>
          <p>
            En nuestro consultorio médico, ofrecemos evaluaciones médicas
            integrales para pacientes de todas las edades. Durante una
            evaluación médica, realizamos un historial médico completo,
            evaluamos los síntomas actuales y realizamos exámenes según sea
            necesario. Nuestra meta es proporcionar una atención médica
            personalizada y basada en la evidencia, brindando recomendaciones y
            tratamientos adaptados a las necesidades individuales de cada
            paciente.
          </p>
        </article>

        <article>
          <h3>Seguimiento de condiciones médicas</h3>
          <p>
            En nuestro consultorio médico, ofrecemos servicios especializados de
            seguimiento y manejo de condiciones médicas crónicas y agudas.
            Nuestra meta es mantener una comunicación abierta y constante con
            nuestros pacientes, trabajando para controlar y manejar eficazmente
            sus condiciones médicas a lo largo del tiempo.
          </p>
        </article>

        <article>
          <h3>Chequeos de salud</h3>
          <p>
            Ofrecemos chequeos de salud completos y personalizados para
            pacientes de todas las edades en nuestro consultorio médico. Nuestro
            objetivo es detectar tempranamente problemas médicos potenciales y
            proporcionar recomendaciones personalizadas para mejorar la salud y
            prevenir enfermedades. Promovemos el bienestar general y la salud
            preventiva para mantener a nuestros pacientes saludables a lo largo
            del tiempo.
          </p>
        </article>
      </div>
    </section>
    <footer class="bg-cafe flex py-12 justify-center">
      <p class="text-white">&copy; 2024. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>

<style is:global>
  h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: dotted underline;
  }
  section {
    padding: 3rem 1rem;
  }
  ul {
    text-align: center;
    color: white;
  }
  li {
    padding: 7px 0;
  }
  article {
    background: #231a1b;
    padding: 30px;
    margin: 15px 0;
    border-radius: 10px;
    h3 {
      text-align: center;
      font-size: 1.1rem;
      font-weight: 500;
      color: #cea28f;
      margin-bottom: 15px;
      font-size: 22px;
    }
    p {
      color: white;
    }
  }
  p {
    text-align: center;
  }
  svg,
  .fade {
    animation: fadeIn 3s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
  }

  .animatedFadeInUp {
    opacity: 0;
  }

  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }
</style>
